<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="Lesego Motea">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/images/icon.png">
    <title>MYKN Life</title>
</head>
<body class="bg-gray-300 w-screen-100 min-h-screen">
<div id="app-root"></div>
</body>
<script src="/static/js/vendor.bundle.js" type="application/javascript"></script>
<script src="http://localhost:8080/apply.bundle.js" type="application/javascript"></script>
</html>